* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .caja_img_footer {
    height: 897px;
  }
  .imagen {
    background-image:url(/assets/img/home2.jpg);
    background-size: cover;
    height: 850px;
    margin-left: 80px;
    margin-right: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  } 
  .imagen p {
    color: white;
    font-size: 80px;
  }
  
  /** INICIO FOOTER **/
  .caja_footer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .facebook {
    margin-left: 60px;
  }
  .instagram {
    margin-left: 60px;
  }
  .behance {
    margin-left: 60px;
  }
 /** FIN FOOTER **/

 /** INICIO CV **/
 
 .caja_bio {
  width: 1000px;
  height: auto;
  margin: 50px auto 30px auto;
 }

 .bio h2, p{
  font-size: 25px;
  text-align: justify;
 }

 .formacion, .experiencia {
  width: 500px;
  margin: 50px auto 50px auto;
 }

 ul li {
  list-style: none;
 }
 /** FIN CV **/

 /** INICIO EXPO **/
.expo {
  height: 620px;
  text-align: center;
  font-size: 25px;
  margin-top: 200px;
  margin-bottom: 50px;
}
.expo ul li {
  margin-top: 50px;
  list-style: none;
}
 /** FIN EXPO **/

 /** INICIO PORTFOLIO **/
.titulo_pintura h1 {
  color: blue;
  text-align: center;
  margin: 50px 0;
}
 /** FIN PORTFOLIO **/

  /** INICIO CONTACTO **/
.caja_formulario {
  height: 802px;
}
   /** FIN CONTACTO **/